services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    container_name: shop_redis
    image: redis:7
    volumes:
      - redis_data:/data
    ports:
      - '6379:6379'

volumes:
  mysql_data:
  redis_data:
